@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.hamburger-image{
    display: none;
}  

@media screen and (max-width: 576px) {
    header nav ul{
        display: none;
    }
    header nav button{
        display: none;
    }
    .hamburger-image{
        display: block;
    }
    .navbar-logo{
        font-size:x-large;
    }
    nav{
        justify-content: space-between;
    }

}