@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.hamburger-image{
    display: none;
}  
.banner{
    background-image: url('./assets/hero-bg.png');
    border-top: 1px solid #412667;
    background-repeat: no-repeat;
}
.banner-container{
    max-width: 550px;
    margin: 0px auto;
    margin-top: -100px;
}
.banner-image{
    position: relative;
    max-width: 350px;
    /* max-height: 350px; */
    margin: 0px auto;
    margin-top: 101px;
}
.new{
    position: absolute;
    background-color: #00FF88;
    border-radius: 1000px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 1.125rem;
    color: #1A0B2E;
    max-width: 75px;
    margin-left: 280px;
    margin-top: 35px;

}
.hero-circle{
    width: 100%;
    /* position: absolute; */
}
.microphone{
    margin: 0px auto;
    margin-top: -255px;
    /* position: absolute; */
}
.podcast{
    background-color: #1A0B2E;
    margin-top: -37px;
}
.podcast-container{
    max-width: 1200px;
    margin: 0px auto;
}
.podcast-title{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 16px;
}
.podcast-description{
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
    font-weight: 100;
    margin-bottom: 80px;
}
.podcast-rate{
    border-top: 1px solid rgba(255, 255, 255, 1);
    padding: 80px 0px;
}
.podcast-rate-item{
    text-align: center;
}
.podcast-rate-item h2{
    color: #00FF88;
    font-size: 3rem;
    font-weight: black;
}
.podcast-rate-item p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 100;
}
@media screen and (max-width: 576px) {
    header nav ul{
        display: none;
    }
    header nav button{
        display: none;
    }
    .hamburger-image{
        display: block;
    }
    .navbar-logo{
        font-size:x-large;
    }
    nav{
        justify-content: space-between;
    }
    .banner-container{
        max-width: 400px;
    }
    .banner-image{
        max-width: 200px;
        margin-top: 170px;

    }
    .new{
        margin-left: 160px;
    }
    .microphone{
        max-width: 80px;
        margin-top: -155px;

    }
    .banner-content{
        max-width: 400px;
    }
    .podcast-title{
        font-size: 2rem;
    }
    .podcast-description{
        font-size: 1rem;
    }
    .podcast-rate{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .podcast-container{
        padding: 5px;
    }
}